body {

    width: 100vw;
    height: 100vh;
   

}

.linha-2{
    margin-top: 3%;
    margin-bottom: 3%;
}

.cl1-linha1{
    
    margin-right: 3%;
    margin-left: 7%;
    margin-bottom: 2%;
}

.cl2-linha1{
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 2%;
}


.cl1-linha2{
    
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cl2-linha2{
    margin-right: 3%;  
}


.menu {
  
}


.logo {
   
    
}

.cabecalho{
    margin-left: 7%;
    margin-right: 3%;
}

.menu-1,
.menu-2,
.menu-3,
.menu-4,
.menu-5 {
    padding: 0;
    padding: 2%;

}



#botao-menu {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: rgb(13, 117, 187);
    width: 100%;
}

#botao-como-participar, #botao-saiba-mais{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: rgb(13, 117, 187);
    width: 100%;
    
}
#botao-saiba-mais{
margin-top: 6%;
}





#botao-logo{
    color: white;
    background-image: url(./logo-serratec-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    padding: 0;
   
}

#botao-associe-se{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: rgb(13, 117, 187);
    width: 100%;
    height: 100%;
    padding: 0;
    padding: 20%;
   
   
}

#pesquisar {
    background-color: #f5f5f5; /* cor de fundo do formulário */
  }
  
  #pesquisar button {
    background-color: #4285f4; /* cor de fundo do botão */
    color: white; /* cor do texto do botão */
  }


@media (max-width: 750px) {
    #botao-logo {
    margin: 0;
    background-image: url(./logo-serratec-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 90%;
    height: 90%;
    padding: 0;
    }
  }

.logo{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}






.linha-3{
    width: 100%;
    height: auto;
    background-color: rgb(76, 158, 208);
}

.sub-linha-linha1, .sub-linha-linha2, .sub-linha-linha3{
    
    margin-top: 3%;
}

.sub-linha-linha1{
    margin-top: 15%;
}

.letrapequena{
    font-size: 20px;
    font-weight: 500;
}

.sub-linha-3{
    
    width:100%;
    background-color: rgb(76, 158, 208);
    width:100%;
}


.conteudo-sub-linha-3{
    text-align: center;
}

.sub-linha-linha3, .sub-linha-linha2{
    margin-bottom: 4%;
    
}

.sub-linha-col2-linha2{
    margin-top: 5%;
    
    text-align: right;
}

.sub-linha-col2-linha1{
    
    margin-top: 15%;
  
    text-align: center;
}

.cl1-linha2{
text-align: justify;
}

.cl1-linha3{
   
    width:100%;
   
}

.cl2-linha3{
    
    width:100%;
    height: auto;
   
    
}
.cl3-linha3 {
    background-image: url(./coluna-3-linha-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    width:100%;
}

.linha-1{
    background-color:  rgb(76, 158, 208);
    color: white;
    
}

.linha-video{

margin: 2%;

}

.conteudo-sub-linha-3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.letragrande{
    font-size: 50px;
    font-weight: 650;
    color: white;
}


.sub-linha-3{
    text-align: center;
    margin-top: 4%;
}

.sub-line-3{
    height: 10px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
margin-top: 1%;
border-radius: 5px;
    background-color: white;
}



.cl1-linha3, .cl2-linha3, .cl3-linha3{
    
   
    margin-left: 5%;
}
.cl3-linha3{
    margin-right: 5%;
}


#cl-1-sub-ln-1, #cl-2-sub-ln-1, #cl-3-sub-ln-1 {
    margin-left: 10%;
    margin-top: 5%;
    text-align: center;
    
    
}

.conf-img{
    background-size: cover;
    background-position-x: center;
    width: 100%;
    margin: auto;
}

#cl-1-sub-ln-2, #cl-2-sub-ln-2, #cl-3-sub-ln-2{
    text-align: center;
   padding-bottom: 5%;
    
}



#cl-1-sub-ln-2{
    text-align: center;
    margin-left: 29%;

   
    
}

#cl-2-sub-ln-2{
    text-align: center;
    margin-left: 29%;
   
}

#cl-3-sub-ln-2{
    text-align: center;
    margin-left: 29%;
   
    
    
}


.linha-3{
   
    margin-top: 10%;
}

#regiao-serrana{
    font-size: 35px;
    font-weight: 400;
}

.associa{
    
    margin: 3%;
}






.pesquisa {
    width: 100%;
   margin-top: 10%;
   margin-bottom: 10%;
   margin-left: 5%;
   margin-right: 5%;
   
 
}